<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{ title }}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>
      </ul>
      <div class="d-flex">
        <ng-container *ngIf="!loginDisplay">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" (click)="loginRedirect()">Login using Redirect</a></li>
              <li><a class="dropdown-item" (click)="loginPopup()">Login using Popup</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="loginDisplay">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Logout
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" (click)="logoutRedirect()">Logout using Redirect</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout using Popup</a></li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
<div class="container">


  <div class="mb-3">
    <button (click)="callWebApiNoRole()" class="btn btn-success me-2 mb-2">Call API All Roles</button>
    <button (click)="callWebApiUser()" class="btn btn-primary me-2 mb-2">Call API User</button>
    <button (click)="callWebApiAdmin()" class="btn btn-warning me-2 mb-2">Call API Admin</button>
    <button (click)="callWebApiUserAdmin()" class="btn btn-info mb-2">Call API User or Admin</button>
  </div>

  @if (weatherForecasts.length > 0) {
  <h4>Forecasts:</h4>
  <ul>
    @for (forecast of weatherForecasts; track forecast.date) {
    <li>
      **Date:** {{ forecast.date | date : 'mediumDate' }} | **Temp. C:** {{ forecast.temperatureC }}°C | **Temp. F:**
      {{
      forecast.temperatureF }}°F | **Summary:** {{ forecast.summary }}
    </li>
    }
  </ul>
  } @if (apiCallError) {
  <div style="color: red;">
    <h4>Error calling API:</h4>
    <p>{{ apiCallError }}</p>
  </div>
  } @if (weatherForecasts.length === 0 && !apiCallError) {
  <p>Click a "Call Protected Weather API" button to fetch data.</p>
  }

  <hr />
  <nav>
    <ul>
      <li><a routerLink="/user">User Page (always visible)</a></li>
      <li><a routerLink="/admin">Admin Page (always visible)</a></li>
      @if (isUser) {
      <li><a routerLink="/user">User Page (this is only shown if you're a user role)</a></li>
      }
      @if (isAdmin) {
      <li><a routerLink="/admin">Admin Page (this is only shown if you're an admin role)</a></li>
      }

      <li><a routerLink="/formio-demo">Form.io Demo</a></li>
      <li><a routerLink="/bootstrap-demo-form">Bootstrap Demo Form</a></li>
      <li><a routerLink="/nhs-form">NHS Styled Form</a></li>
      <li><a routerLink="/formio-builder">Form.io Builder (NHS fields)</a></li>

    </ul>
  </nav>

  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  @if (!isIframe) {
  <router-outlet></router-outlet>
  }

</div>