@if (!loginDisplay) {
<div>
    <p class="welcome">Welcome to the MSAL Angular Quickstart!</p>
    <p>This sample demonstrates how to configure MSAL Angular to login, logout, protect a route, and acquire an access
        token for a protected resource such as the Microsoft Graph.</p>
    <p>Please sign-in to see your profile information.</p>
</div>
}

@if (loginDisplay) {
<div>
    <p>Login successful!</p>
    <p *ngIf="username">Welcome, {{ username }}</p>
    <p>Request your profile information by clicking Profile above.</p>
    <nav>
        <ul>
            <li><a routerLink="/user">User Page (always visible)</a></li>
            <li><a routerLink="/admin">Admin Page (always visible)</a></li>
            @if (isUser) {
                <li><a routerLink="/user">User Page (role required)</a></li>
            }
            @if (isAdmin) {
                <li><a routerLink="/admin">Admin Page (role required)</a></li>
            }
        </ul>
    </nav>
</div>
}